@charset "utf-8";
/* CSS Document */
*{
	margin:0 auto;
	padding:0;
	box-sizing:border-box;
	}
.t-box{
	width:980px;
	min-height:400px;
	height:auto;
	margin:0px auto;
	margin-top:50px;
	background:#fff;
	border:8px solid #ccc;
	font-family:Arial, Helvetica, sans-serif;
	}
.t-box:after{
	content:"";
	width:100%;
	height:0px;
	clear:both;
	visibility:hidden;
	display:block;
	}
.t-left{
	width:120px;
	min-height:400px;
	height:auto;
	margin:0;
	background:#fff;
	border-right:8px solid #ccc;
	float:left;
	}
.t-middle{
	width:724px;
	min-height:400px;
	height:auto;
	margin:0;
	float:left;
	border-right:8px solid #ccc;
	}
.t-right{
	width:120px;
	height:auto;
	margin:0;
	float:right;
	background:#fff;
	}
.small{
	font-size:14px;
	color:#555;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:300;
	margin-bottom:20px;
	}
.tikit-title{
	font-size:30px;
	text-align:right;
	margin-right:10px;
	font-weight:bold;
	}
.middle-left,.middle-right{
	width:50%;
	float:left;
	min-height:150px;
	height:auto;
	border-top:8px solid #ccc;
	border-bottom:8px solid #ccc;
	padding:5px;
	}
.middle-right{
	border-left:8px solid #ccc;
	}
.text{
	font-size:18px;
	text-align:right;
	}
.oder_panel{
	border-bottom:8px solid #ccc;
	padding:5px;
	}
.tikit_type{
	padding:5px;
	}
.responsive{
	width:100%;
	height:auto;
	}
.qrcode{
	margin-top:20px;
	border-top:8px solid #ccc;
	padding-top:20px;
	}


.ticket_footer{
	width:980px;
	height:auto;
	margin:0 auto;
	}
.footer_barcode{
	width:350px;
	height:auto;
	float:right;
	border:8px solid #ccc;
	border-top:0;
	}
.footer_barcode img{
	width:100%;
	height:auto;
	}