
.header .nav li.item-select{ background: rgb(181, 49, 46);}
.header .nav li:hover{   background: #000000;}
.wtf-menu ul.submenu li:hover {  background: #02ADC6;}
.tp-caption.grey_heavy_72-light {color:#02adc6;}
.tp-caption.icon i { background: #02adc6;}
.tp-caption.title-bold {color: #C86662;}
.tp-caption.banner-button .read-more:hover{background:rgb(88, 74, 115);}
.tp-caption .transprint{border-bottom:solid 6px #9479C7;}
.services-one .service-sec .icon{ background:#02adc6;}
.z-tabs.silver > ul > li.z-active > a {	  border-bottom: solid 5px #02adc6;	  color: #02adc6;}
.z-tabs.horizontal .detail a:hover {    background-color: #02adc6;}
.meet-specialists .detail h6 {    color: #02adc6;}
.meet-specialists .detail a:hover {    color: #02adc6;}
.latest-news .post .detail a:hover {    color: #02adc6;}
.patients-testi .testi-sec span.name{ color:#02adc6;}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{	background:#02adc6;}
.main-footer .tweets .text a:hover {    color: #02adc6;}
.main-footer .newsletter .form input[type=submit]:hover{ background: #02adc6;}
.cd-top{ background-color: #02adc6; }
.header2 .nav li.item-select { background: #02adc6 url(../images/navi-plus.png) no-repeat 50% 32%;}
.header2 .nav li.item-select:hover { background: #02adc6 url(../images/navi-plus.png) no-repeat 50% 32%; }
.header2 .nav li:hover{  background: #464C5B url(../images/navi-plus.png) no-repeat 50% 32%; border-radius: 0; padding:46px 0 32px 0;}
.tp-bullets.preview4 .bullet.selected { background: #02adc6 !important;}
.services-two .service-sec .icon{ background:#02adc6;}
.services-three .serv-sec{background: #02adc6;}
.services-three .serv-sec.serv-sec2{ background: #02adc6;}
.services-three .serv-sec.serv-sec3{background: #02adc6;}
.welcome-two .welcome-detail ul li{ color: #02ADC6;}
.footer-light .emergency i{ color:#02ADC9; }
.footer-light .main-footer .title h5{   color: #02ADC6; border-bottom: solid 1px #02ADC6; }
.footer-light .main-footer .tweets .text a{ color:#02ADC6;}
.footer-light .main-footer .tweets .icon{ color:#02ADC6;}
.footer-light .main-footer .get-touch ul li a:hover span{color:#02adc6; }


/** banner three **/
.main-banner-three{ background: rgba(2, 173, 198, 0.69);  }
/** Fancybox overlay **/
.fancybox-overlay {	background: rgba(2, 173, 198, 0.84);}
/** Team Social icons **/
.cbp-caption-activeWrap {	background-color: rgba(2, 173, 198, 0.81);}

.appointment-form .form input[type=submit]:hover{ background: #02adc6;}
.services-five .service-sec .icon{ background:#02ADC6;box-shadow: 0 0 0 3px #02ADC6;}
.sub-banner .detail ul li:last-child a{ color:#02adc6;}
.sub-banner .detail ul li a:hover{ color:#02adc6;}
.why-choose li.open .link { color: #02adc6;}
.why-choose li.open i { color: #02adc6 !important; }
#services-slide .owl-controls .owl-page.active span{ background:#02adc6 ;}
.welcome-three .welcome-detail ul li i{  color: #02ADC6; }
.member-detail .team-detail .name h6{ color:#02adc6;}
.year { color:#02adc6;}
.main-appointment-form .appointment-form{   background: #02ADC6;}
.main-appointment-form .appoint-icon {  background-color: #02ADC6; }
.contact-us .leave-msg .form input[type=submit]:hover { background: #02adc6;}
.contact-us .give-msg input[type=submit]:hover{  background: #02adc6;}
.departments .depart-sec a:hover{ background: #02adc6;}
.investigation .investigation-sec .title{ background:#02adc6;}
.cbp-l-filters-list .cbp-filter-item.cbp-filter-item-active {	color: #02adc6;	border-bottom: solid 5px #02adc6;}
.cbp-l-filters-list .cbp-filter-item:hover {  border-bottom: solid 5px #02adc6;}
.main-gallery .layer i{ background:#02B4D6;}
.main-gallery .gallery-sec .detail h6{ color:#02adc6;}
.main-gallery .gallery-sec .detail{ border-bottom: solid 4px #02ADC6; }
.main-gallery a.gallery-sec:hover .detail{ background:#02ADC6;}
.main-gallery .paging a:hover{   background: #02adc6;  border: solid 1px #02adc6;}
.main-gallery .paging a.selected{   background: #02adc6;  border: solid 1px #02adc6;}
.news-posts .comment-box .detail a:hover {    background: #02adc6;}
.news-posts .leave-reply .form input[type=submit]:hover{  background: #02adc6;}
.news-posts .categories ul li a:hover{  color: #02adc6;}
.news-posts .recent-posts .post-sec a.title:hover{color:#02adc6;}
.news-posts .news-sec .detail a.read-more:hover{background-color: #02adc6;}
.news-masonary .news-sec a:hover{color: #02adc6; }
.text-posts .post-sec a.title:hover{ color:#02adc6;}
.text-posts .post-sec p a{ color:#02adc6;}
.text-posts .post-sec ul li a:hover i{ color:#02adc6;}
.text-posts .post-sec ul li a:hover span{ color:#02adc6;}
.text-posts .next-pre a:hover{ color:#02adc6;}
.patient-family .how-treat a:hover{ background: #02adc6;}
.procedures-links span.title {  background: #02adc6; }
.procedures .procedure-text ul li{color: #02adc6;}
.procedures .about-cancer-center span.name{  color: #02adc6;}
#procedures-faq.accordion li.open .link {  background-color: #02ADC6; }
.research .research-detail li i{  color:#02ADC6; }
.services-content .serv-sec .detail h5{ color:#02adc6; }
.product-thumb label{ background:#02ADC6;}
.product-description h3 a{color:#02ADC6;}
.product-description .product-cart-btn:hover, .product-description .product-detail-btn:hover{color:#02ADC6;}
.ui-widget-header {  background: #02ADC6;}
.top-products .top-products-detail a{color: #02ADC6;}
.ratings.big i{color: #02adc6;}
.product-detail-slider .rslides_tabs li.rslides_here a{background:#02adc6}
a#add-review-btn:hover{background-color: #02ADC6;}
.resp-vtabs li.resp-tab-active {color:#02adc6;}
.product-detail-description .btn-medium:hover{ background:#02adc6;}
.pricing-table-footer a{background-color: #02adc6; }
.all-team-members .detail h6{ color:#02adc6; }
.all-team-members .detail a:hover{color: #02adc6;}
.cbp-l-caption-text a:hover{  color:#02adc6;}
.main-footer .useful-links ul li a:hover{ color:#02adc6;}
.main-footer .get-touch ul li a:hover span{color:#02adc6;}
#accordion2 .time-table{ background: #9479C7 url(../images/time-icon-bg.png) no-repeat;}
.top-bar .get-touch li:last-child a:hover{   color: #2b96cc;}
.meet-specialists .gallery-sec .layer { background-color:rgba(2, 173, 198, 0.84);}
.member-detail .gallery-sec .layer { background-color: rgba(2, 173, 198, 0.81);}
.meet-specialists .gallery-sec a:hover { color: #02adc6;}
.footer-light .main-footer .newsletter .form input[type=submit]:hover{ background: #02adc6;}
.why-choose li i {color: #02adc6;}
#page .header a{	background-color:#02adc6 !important;}
.mm-menu {  background: #02adc6 !important;}
ul.z-tabs-nav.z-tabs-mobile.z-state-closed { background-color: #02ADC6 !Important;}
ul.z-tabs-mobile li:first-child { background-color: #02ADC6 !important;}
.header2.sticky .nav li.item-select { background: #02ADC6;}



.shop-cart .cart-pro-detail .cancel i{color: #02ADC6;}
.cash-decide .cart-total .total-sec a{background: #02ADC6;}


.shop-cart .cart-update-sec a:hover{ background: #02ADC6; }