@charset "utf-8";
/* CSS Document */
body{
	font-family: 'Roboto', sans-serif;
	}
.hearder_top{
	width:100%;
	height:auto;
	border-bottom:1px solid #ddd;
	padding-bottom:10px;
	box-shadow:0px 0px 5px rgba(0,0,0,0.2);
	border-top:3px solid #2085d6;
	}
.logo a{
	color:#383839;
	text-decoration:none;
	}
.logo a:hover{
	color:#383839;
	text-decoration:none;
	}
.top_menu{
	float:right;
	margin-top:15px;
	}
.top_menu ul{
	padding-left:0px;
	}
.top_menu ul li{
	float:left;
	list-style-type:none;
	margin-left:10px;
	}
.top_menu ul li a{
	color:#2196f3;
	font-size:13px;
	}
.chlo_searchbox{
	width:80%;
	height:auto;
	float:right;
	margin-top:10px;
	}
.cu_select{
	width:140px;
	height:30px;
	border:1px solid #ddd;
	outline:0px;
	-webkit-appearance:none;
	-moz-appearance:none;
	-o-appearance:none;
	-ms-appearance:none;
	appearance:none;
	background:#fff url(../image/select.png) no-repeat 90% 50%;
	float:right;
	transition:.3s;
	padding:0 5px;
	cursor:pointer;
	}
.cu_select:focus{
	border:1px solid #66afe9;
	box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
	}
.serach_box{
	width:50%;
	height:30px;
	float:right;
	}
.serach_input{
	width:60%; /*200px*/
	height:30px;
	float:right;
	outline:0px;
	border:1px solid #ddd;
	padding:0px 5px;
	transition:.3s;
	}
.serach_input:focus{
	border:1px solid #66afe9;
	box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
	}
.serach_btn{
	width:auto;
	padding:0px 15px;
	height:30px;
	background:#2196f3;
	color:#fff;
	font-weight:600px;
	outline:0px;
	border:1px solid #127acc;
	float:right;
	margin-left:10px;
	transition:.3s;
	}
.serach_btn:hover{
	background:#127acc;
	}
/*--------------------------- Navbar CSS -------------------------*/
.cu_navbar{
	width:100%;
	height:auto;
	background:#127acc;
	}
.cu_navbar .navbar{
	margin-bottom:0px;
	background:none;
	border:none;
	}
.cu_navbar .navbar-default .navbar-nav > li > a{
	color:#fff;
	}
.cu_navbar .navbar-nav > li:hover{
	background:#0e62a4;
	}
/*--------------- content_bg ------------------*/
.content_bg{
	background:#f3f3f3;
	padding-bottom:510px;
	}
.box{
	background:#fff;
	box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.08);
	padding:20px;
	margin-top:20px;
	}
.box_title{
	 border-bottom: 1px solid #e3e3e3;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
    padding-bottom: 10px;
    text-transform: uppercase;
	margin:0;
	margin-bottom:10px;
	}
.list{
	padding-left:0px;
	}
.list li{
	list-style-type:none;
	line-height:24px;
	}
.list li a{
	color:#555;
	text-decoration:none;
	padding-left:15px;
	background:url(../image/list.png) no-repeat 0px 4px;
	transition:.3s;
	}
.list li a:hover{
	background:url(../image/list.png) no-repeat 3px 4px;
	text-decoration:underline;
	}
.cu_btn{
	width:100%;
	margin-top:10px;
	 background: #2196f3 none repeat scroll 0 0;
    border: 1px solid #127acc;
	color:#fff;
	}
.cu_input{
	margin-top:15px;
	}
.social{
	margin-top:10px;
	}
.social a{
	color:#555;
	text-decoration:none;
	}
.social i{
	font-size:30px;
	margin-right:15px;
	}
.fa-facebook-square:hover{
	color:#3b5998;
	}
.fa-twitter-square:hover{
	color:#00aced;
	}
.fa-instagram:hover{
	color:#bf2fa0;
	}
.advertisement{
	margin-top:0px;
	margin-bottom:15px;
	}
.tab .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
	background:#127acc;
	border:1px solid #096cb9;
	color:#fff;
	font-weight:600;
	}
.tab .tab-content{
	margin-top:15px;
	}
.tab .nav-tabs > li > a{
	background:#ddd;
	}
.cu_btn:hover{
	background:#0e62a4;
	color:#fff;
	border:1px solid #096cb9;
	}
.heading1{
	margin:0px;
	font-size:16px;
	font-weight:bold;
	margin-bottom:5px;
	}
.heading1 a{
	color:#333;
	text-decoration:none;
	transition:.3s;
	}
.heading1 a:hover{
	color:#127acc;
	}
.divider{
	width:100%;
	height:1px;
	background:#ddd;
	margin:8px auto;
	clear:both;
	}
.po_re{
	position: relative;;
}
.banner_btn{
	position: absolute;
	bottom: 3px;
	right: 20px;
}

.buy_tickets_btn{
	padding:2px 8px;
	color:#fff;
	background:#127acc;
	border-radius:2px;
	font-size:13px;
	margin-left:20px;
	}
.buy_tickets_btn:hover{
	color:#fff;
	background:#0e62a4;
	text-decoration:none;
	}
/*---------------------- Footer ------------------*/
.footer{
	width:100%;
	height:auto;
	background: #202020;
    padding-top: 30px;
    padding-bottom: 30px;
	color:#ddd;
	clear: both;
	}
.footer_title{
	color:#555;
	font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
	}
.f_menu{
	padding-left:0px;
	}
.f_menu li{
	list-style-type:none;
	line-height:24px;
	}	
.f_menu li a{
	color:#ddd;
	text-decoration:none;
	transition:.3s;
	font-size:13px;
	background:url(../image/list.png) no-repeat 0px 4px;
	transition:.3s;
	padding-left:15px;
	}
.f_menu li a:hover{
	color:#127acc;
	text-decoration:underline;
	}
.f_menu li a:hover{
	background:url(../image/list.png) no-repeat 3px 4px;
	}
.footer_bottom{
	width:100%;
	height:50px;
	background:#000;
	color:#ddd;
	}
.footer_bottom p{
	margin-bottom:0px;
	}
.cl{
	float:left;
	line-height:50px;
	}
.goigi{
	float:right;
	line-height:50px;
	}
.goigi a{
	color:#127acc;
	text-transform:uppercase;
	}

.cu_accordion .panel-heading{
	padding:0px;
	}
.cu_accordion a{ background:#127acc; display:block; padding:10px 15px; color:#fff;}
.cu_accordion a.collapsed{ background:none; color:#333;}
.cu_accordion .panel-body a{
	padding:0px;
	}
.cu_breadcrumb{
	background: rgba(18,188,204,0.08);
	border-radius: 0px;
	margin: 5px 0 0 0;
}
/*-----------------  -----------------*/
.animateflight{
	margin-left:0px;
	transition:.3s;
	}
.list li:hover .animateflight{
	margin-left:10px;
	color:#127acc;
	}
.cu_blu{
	background:#2196f3;
    border:1px solid #127acc;
    color:#fff;
	transition:.3s;
	font-weight:bold;
	}
.cu_blu i{
	margin-left:5px;
	font-size:20px;
	}
.cu_blu:hover,.cu_blu:active,.cu_blu:focus{
	background:#0e62a4;
    color:#fff;
    border:1px solid #096cb9;
	}
/*------------------------------ Events Page CSS ----------------------------*/
.eventsShowList{
	float:left;
	font-size:16px;
	}
.events_text{
	float:right;
	margin-top:10px;
	}
.featuredEventMod{
	margin-bottom:10px;
	border-bottom:1px solid #ddd;
	}
.featuredEventMod:last-child{
	border-bottom:none;
	}
.featuredEventMod img{
	float:left;
	width:30%;
	}
.featuredEventMod .text{
	float:right;
	width:65%;
	padding-left:3px;
	}

/********************Contact Us page design start here************************/
.contact_us_col{ float: left; margin: 0; padding: 20px 0; width: 100%;}
.contact-top{ float: left; margin: 0; padding: 0; width: 100%;}
.contact-top img{ width:100%; height:auto;}
.contact-top h2{ font-size:24px; line-height:28px; font-weight:normal; color:#252525; border-bottom:solid 1px #d7d7d7; padding:30px 0 8px 0; margin:0;}

.contact_bottom{ margin: 0; padding:50px 0; width: 100%; text-align:center; display:inline-block;}
.contact_bottom .col-sm-5{ float:none; display:inline-block; vertical-align:top; border-right:solid 2px #dddddd;}
.contact_bottom .col-sm-5.last{ border:none;}
.contact_bottom .form_area{ float:left; width:100%; padding:0; margin:0;}
.contact_bottom .form_area .account-create{ text-align:left;}
.contact_bottom .form_area .account-create .form-inline{ padding:15px 0 0 0;}

.contact_bottom .contact_address{ float:left; width:100%; padding:0; margin:0; vertical-align:top; font-family: 'Roboto', sans-serif; text-align:left;}
.contact_bottom .contact_address h2{ position:relative; font-size:24px; line-height:28px; font-weight:300; color:#252525; padding:0 0 0 90px; margin:0;}
.contact_bottom .contact_address h2::before{ position:absolute; content:""; top:-18px; left:15px; background:url(../image/findus.jpg) no-repeat 0 0; width:67px; height:94px;}

.contact_bottom .contact_address .inner_panel{ float:left; width:100%; padding:74px 75px 0 75px; margin:10px 0 0 0; vertical-align:top; background:#f2f2f2; 
-moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px;}
.contact_bottom .contact_address .inner_panel .corporate_boxes{ float:left; width:100%; padding:0 0 35px 0; margin:0;}
.contact_bottom .contact_address .inner_panel .corporate_boxes h3{ font-size:18px; line-height:22px; font-weight:600; color:#252525; position:relative; border-bottom:solid 1px #d1d1d1; padding:0 0 3px 0; margin:0;}
.contact_bottom .contact_address .inner_panel .corporate_boxes h3::before{ position:absolute; content:""; top:5px; left:-41px; background:url(../image/compare-icon.png) no-repeat 0 0; width:25px; height:25px;}
.contact_bottom .contact_address .inner_panel .corporate_boxes p{ font-size:17px; line-height:24px; font-weight:300; color:#252525; padding:10px 0 0 0; margin:0;}

.contact_bottom .contact_address .inner_panel .phone_boxes{ float:left; width:100%; padding:0 0 35px 0; margin:0;}
.contact_bottom .contact_address .inner_panel .phone_boxes h3{ font-size:18px; line-height:22px; font-weight:600; color:#252525; position:relative; border-bottom:solid 1px #d1d1d1; padding:0 0 3px 0; margin:0;}
.contact_bottom .contact_address .inner_panel .phone_boxes h3::before{ position:absolute; content:""; top:5px; left:-41px; background:url(../image/cellphone-icon.png) no-repeat 0 0; width:21px; height:23px;}
.contact_bottom .contact_address .inner_panel .phone_boxes p{ font-size:17px; line-height:24px; font-weight:300; color:#252525; padding:10px 0 0 0; margin:0;}

.contact_bottom .contact_address .inner_panel .email_boxes{ float:left; width:100%; padding:0 0 35px 0; margin:0;}
.contact_bottom .contact_address .inner_panel .email_boxes h3{ font-size:18px; line-height:22px; font-weight:600; color:#252525; position:relative; border-bottom:solid 1px #d1d1d1; padding:0 0 3px 0; margin:0;}
.contact_bottom .contact_address .inner_panel .email_boxes h3::before{ position:absolute; content:""; top:5px; left:-41px; background:url(../image/email-icon.png) no-repeat 0 0; width:26px; height:23px;}
.contact_bottom .contact_address .inner_panel .email_boxes p{ font-size:17px; line-height:24px; font-weight:300; color:#252525; padding:10px 0 0 0; margin:0;}
.contact_bottom .contact_address .inner_panel .email_boxes p a{ font-size:17px; line-height:24px; font-weight:300; color:#252525; padding:10px 0 0 0; margin:0;
 overflow-wrap: break-word;}
.contact_bottom .contact_address .inner_panel .email_boxes p a:hover{ text-decoration:underline;}


.contact_bottom .contact_address .inner_panel .website_boxes{ float:left; width:100%; padding:0 0 64px 0; margin:0;}
.contact_bottom .contact_address .inner_panel .website_boxes h3{ font-size:18px; line-height:22px; font-weight:600; color:#252525; position:relative; border-bottom:solid 1px #d1d1d1; padding:0 0 3px 0; margin:0;}
.contact_bottom .contact_address .inner_panel .website_boxes h3::before{ position:absolute; content:""; top:5px; left:-41px; background:url(../image/globe-icon.png) no-repeat 0 0; width:28px; height:28px;}
.contact_bottom .contact_address .inner_panel .website_boxes p{ font-size:17px; line-height:24px; font-weight:300; color:#252525; padding:10px 0 0 0; margin:0;}
.contact_bottom .contact_address .inner_panel .website_boxes p a{ font-size:17px; line-height:24px; font-weight:300; color:#252525; padding:10px 0 0 0; margin:0;  overflow-wrap: break-word;}
.contact_bottom .contact_address .inner_panel .website_boxes p a:hover{ text-decoration:underline;}


.create_account_big{ float:left; width:100%; padding:40px 0; margin:0;}
.create-account{ display:inline-block; width:100%; padding:0; margin:0; text-align:center;}
.create-account h2{ color:#e97110; padding:0 0 35px 0; margin:0;}
.create-account p{ font-size:16px; line-height:20px; font-weight:normal; color:#000; padding:20px 0 0 0;}
.create-account p a{ color:#e97110;}
.create-account .col-sm-5{ float:none; display:inline-block;}
.create-account .col-sm-8{ float:none; display:inline-block;}
.account-create .form-inline .form-group{ width:100%; margin-bottom:13px;}
.account-create{ float:left; width:100%; padding:0; margin:0;}
.account-create .form-inline .firstname{ display:inline-block; width:48%; float:left;}
.account-create .form-inline .lastname{ display:inline-block; width:47%; float:right;}
.account-create input[type="text"]{ width:100%; padding:0 0 0 5px; margin:0; border:solid 1px #127acc; border-radius:0; color:#000;}
.account-create input[type="email"]{ width:100%; padding:0 0 0 5px; margin:0; border:solid 1px #127acc; border-radius:0; color:#000;}
.account-create select{ width:100%; padding:0 0 0 5px; margin:0; border:solid 1px #127acc; border-radius:0; color:#000; -webkit-appearance: none; -moz-appearance:none;  appearance: none; height:34px; background:url(../images/drop-down-list-icon.png) no-repeat 97% 50%; cursor:pointer;}
.account-create input[type="password"]{ width:100%; padding:0 0 0 5px; margin:0; border:solid 1px #127acc; border-radius:0; color:#000;}
.account-create label{ width:100%; text-align:left; font-size:14px; line-height:20px; font-weight:normal; color:#000;}
.account-create textarea{ width:100%; padding:0 0 0 5px; margin:0; border:solid 1px #127acc; border-radius:0; color:#000;}

.account-create .btn-default{ background:#127acc; border:none; padding:8px 35px; margin:14px 0 0 0; text-transform:uppercase; font-size:18px; color:#fff; font-weight:bold;}