@charset "utf-8";
/* CSS Document */
body{
	font-family: 'Roboto', sans-serif;
	}
.hearder_top{
	width:100%;
	height:auto;
	border-bottom:1px solid #ddd;
	padding-bottom:10px;
	box-shadow:0px 0px 5px rgba(0,0,0,0.2);
	border-top:3px solid #2085d6;
	}
.logo a{
	color:#383839;
	text-decoration:none;
	}
.logo a:hover{
	color:#383839;
	text-decoration:none;
	}
.top_menu{
	float:right;
	margin-top:15px;
	}
.top_menu ul{
	padding-left:0px;
	}
.top_menu ul li{
	float:left;
	list-style-type:none;
	margin-left:10px;
	}
.top_menu ul li a{
	color:#40E0D0;
	font-size:13px;
	}
.chlo_searchbox{
	width:80%;
	height:auto;
	float:right;
	margin-top:10px;
	}
.cu_select{
	width:140px;
	height:30px;
	border:1px solid #ddd;
	outline:0px;
	-webkit-appearance:none;
	-moz-appearance:none;
	-o-appearance:none;
	-ms-appearance:none;
	appearance:none;
	background:#fff url(../image/select.png) no-repeat 90% 50%;
	float:right;
	transition:.3s;
	padding:0 5px;
	cursor:pointer;
	}
.cu_select:focus{
	border:1px solid #66afe9;
	box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
	}
.serach_box{
	width:50%;
	height:30px;
	float:right;
	}
.serach_input{
	width:60%; /*200px*/
	height:30px;
	float:right;
	outline:0px;
	border:1px solid #ddd;
	padding:0px 5px;
	transition:.3s;
	}
.serach_input:focus{
	border:1px solid #66afe9;
	box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
	}
.serach_btn{
	width:auto;
	padding:0px 15px;
	height:30px;
	background:#40E0D0;
	color:#fff;
	font-weight:600px;
	outline:0px;
	border:1px solid #40E0D0;
	float:right;
	margin-left:10px;
	transition:.3s;
	}
.serach_btn:hover{
	background:#00ad9c;
	}
/*--------------------------- Navbar CSS -------------------------*/
.cu_navbar{
	width:100%;
	height:auto;
	/*background:#127acc;*/
	background:#40E0D0;
	}
.cu_navbar .navbar{
	margin-bottom:0px;
	background:none;
	border:none;
	}
.cu_navbar .navbar-default .navbar-nav > li > a{
	color:#fff;
	}
.cu_navbar .navbar-nav > li:hover{
	background:#00ad9c;
	}
/*--------------- content_bg ------------------*/
.content_bg{
	background:#f3f3f3;
	/*padding-bottom:20px;*/
	}
.box{
	background:#fff;
	box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.08);
	padding:20px;
	margin-top:20px;
	}
.box_title{
	 border-bottom: 1px solid #e3e3e3;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
    padding-bottom: 10px;
    text-transform: uppercase;
	margin:0;
	margin-bottom:10px;
	}
.list{
	padding-left:0px;
	}
.list li{
	list-style-type:none;
	line-height:24px;
	}
.list li a{
	color:#555;
	text-decoration:none;
	padding-left:15px;
	background:url(../image/list.png) no-repeat 0px 4px;
	transition:.3s;
	}
.list li a:hover{
	background:url(../image/list.png) no-repeat 3px 4px;
	text-decoration:underline;
	}
.cu_btn{
	width:100%;
	margin-top:10px;
	 background: #2196f3 none repeat scroll 0 0;
    border: 1px solid #127acc;
	color:#fff;
	}
.cu_input{
	margin-top:15px;
	}
.social{
	margin-top:10px;
	}
.social a{
	color:#555;
	text-decoration:none;
	}
.social i{
	font-size:30px;
	margin-right:15px;
	}
.fa-facebook-square:hover{
	color:#3b5998;
	}
.fa-twitter-square:hover{
	color:#00aced;
	}
.fa-instagram:hover{
	color:#bf2fa0;
	}
.advertisement{
	margin-top:0px;
	margin-bottom:15px;
	}
.tab .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
	background:#127acc;
	border:1px solid #096cb9;
	color:#fff;
	font-weight:600;
	}
.tab .tab-content{
	margin-top:15px;
	}
.tab .nav-tabs > li > a{
	background:#ddd;
	}
.cu_btn:hover{
	background:#0e62a4;
	color:#fff;
	border:1px solid #096cb9;
	}
.heading1{
	margin:0px;
	font-size:16px;
	font-weight:bold;
	margin-bottom:5px;
	}
.heading1 a{
	color:#333;
	text-decoration:none;
	transition:.3s;
	}
.heading1 a:hover{
	color:#127acc;
	}
.divider{
	width:100%;
	height:1px;
	background:#ddd;
	margin:8px auto;
	clear:both;
	}
.po_re{
	position: relative;;
}
.banner_btn{
	position: absolute;
	bottom: 3px;
	right: 20px;
}

.buy_tickets_btn{
	padding:2px 8px;
	color:#fff;
	background:#127acc;
	border-radius:2px;
	font-size:13px;
	margin-left:20px;
	}
.buy_tickets_btn:hover{
	color:#fff;
	background:#0e62a4;
	text-decoration:none;
	}
/*---------------------- Footer ------------------*/
.footer{
	width:100%;
	height:auto;
	background: #202020;
    padding-top: 30px;
    padding-bottom: 30px;
	color:#ddd;
	clear: both;
	}
.footer_title{
	color:#555;
	font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
	}
.f_menu{
	padding-left:0px;
	}
.f_menu li{
	list-style-type:none;
	line-height:24px;
	}	
.f_menu li a{
	color:#ddd;
	text-decoration:none;
	transition:.3s;
	font-size:13px;
	background:url(../image/list.png) no-repeat 0px 4px;
	transition:.3s;
	padding-left:15px;
	}
.f_menu li a:hover{
	color:#127acc;
	text-decoration:underline;
	}
.f_menu li a:hover{
	background:url(../image/list.png) no-repeat 3px 4px;
	}
.footer_bottom{
	width:100%;
	height:50px;
	background:#000;
	color:#ddd;
	}
.footer_bottom p{
	margin-bottom:0px;
	}
.cl{
	float:left;
	line-height:50px;
	}
.goigi{
	float:right;
	line-height:50px;
	}
.goigi a{
	color:#127acc;
	text-transform:uppercase;
	}

.cu_accordion .panel-heading{
	padding:0px;
	}
.cu_accordion a{ background:#127acc; display:block; padding:10px 15px; color:#fff;}
.cu_accordion a.collapsed{ background:none; color:#333;}
.cu_accordion .panel-body a{
	padding:0px;
	}
.cu_breadcrumb{
	background: rgba(18,188,204,0.08);
	border-radius: 0px;
	margin: 5px 0 0 0;
}
/*-----------------  -----------------*/
.animateflight{
	margin-left:0px;
	transition:.3s;
	}
.list li:hover .animateflight{
	margin-left:10px;
	color:#127acc;
	}
.cu_blu{
	background:#2196f3;
    border:1px solid #127acc;
    color:#fff;
	transition:.3s;
	font-weight:bold;
	}
.cu_blu i{
	margin-left:5px;
	font-size:20px;
	}
.cu_blu:hover,.cu_blu:active,.cu_blu:focus{
	background:#0e62a4;
    color:#fff;
    border:1px solid #096cb9;
	}
/*------------------------------ Events Page CSS ----------------------------*/
.eventsShowList{
	float:left;
	font-size:16px;
	}
.events_text{
	float:right;
	margin-top:10px;
	}
.featuredEventMod{
	margin-bottom:10px;
	border-bottom:1px solid #ddd;
	}
.featuredEventMod:last-child{
	border-bottom:none;
	}
.featuredEventMod img{
	float:left;
	width:30%;
	}
.featuredEventMod .text{
	float:right;
	width:65%;
	padding-left:3px;
	}

/********************Contact Us page design start here************************/
.contact_us_col{ float: left; margin: 0; padding: 20px 0; width: 100%;}
.contact-top{ float: left; margin: 0; padding: 0; width: 100%;}
.contact-top img{ width:100%; height:auto;}
.contact-top h2{ font-size:24px; line-height:28px; font-weight:normal; color:#252525; border-bottom:solid 1px #d7d7d7; padding:30px 0 8px 0; margin:0;}

.contact_bottom{ margin: 0; padding:50px 0; width: 100%; text-align:center; display:inline-block;}
.contact_bottom .col-sm-5{ float:none; display:inline-block; vertical-align:top; border-right:solid 2px #dddddd;}
.contact_bottom .col-sm-5.last{ border:none;}
.contact_bottom .form_area{ float:left; width:100%; padding:0; margin:0;}
.contact_bottom .form_area .account-create{ text-align:left;}
.contact_bottom .form_area .account-create .form-inline{ padding:15px 0 0 0;}

.contact_bottom .contact_address{ float:left; width:100%; padding:0; margin:0; vertical-align:top; font-family: 'Roboto', sans-serif; text-align:left;}
.contact_bottom .contact_address h2{ position:relative; font-size:24px; line-height:28px; font-weight:300; color:#252525; padding:0 0 0 90px; margin:0;}
.contact_bottom .contact_address h2::before{ position:absolute; content:""; top:-18px; left:15px; background:url(../image/findus.jpg) no-repeat 0 0; width:67px; height:94px;}

.contact_bottom .contact_address .inner_panel{ float:left; width:100%; padding:74px 75px 0 75px; margin:10px 0 0 0; vertical-align:top; background:#f2f2f2; 
-moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px;}
.contact_bottom .contact_address .inner_panel .corporate_boxes{ float:left; width:100%; padding:0 0 35px 0; margin:0;}
.contact_bottom .contact_address .inner_panel .corporate_boxes h3{ font-size:18px; line-height:22px; font-weight:600; color:#252525; position:relative; border-bottom:solid 1px #d1d1d1; padding:0 0 3px 0; margin:0;}
.contact_bottom .contact_address .inner_panel .corporate_boxes h3::before{ position:absolute; content:""; top:5px; left:-41px; background:url(../image/compare-icon.png) no-repeat 0 0; width:25px; height:25px;}
.contact_bottom .contact_address .inner_panel .corporate_boxes p{ font-size:17px; line-height:24px; font-weight:300; color:#252525; padding:10px 0 0 0; margin:0;}

.contact_bottom .contact_address .inner_panel .phone_boxes{ float:left; width:100%; padding:0 0 35px 0; margin:0;}
.contact_bottom .contact_address .inner_panel .phone_boxes h3{ font-size:18px; line-height:22px; font-weight:600; color:#252525; position:relative; border-bottom:solid 1px #d1d1d1; padding:0 0 3px 0; margin:0;}
.contact_bottom .contact_address .inner_panel .phone_boxes h3::before{ position:absolute; content:""; top:5px; left:-41px; background:url(../image/cellphone-icon.png) no-repeat 0 0; width:21px; height:23px;}
.contact_bottom .contact_address .inner_panel .phone_boxes p{ font-size:17px; line-height:24px; font-weight:300; color:#252525; padding:10px 0 0 0; margin:0;}

.contact_bottom .contact_address .inner_panel .email_boxes{ float:left; width:100%; padding:0 0 35px 0; margin:0;}
.contact_bottom .contact_address .inner_panel .email_boxes h3{ font-size:18px; line-height:22px; font-weight:600; color:#252525; position:relative; border-bottom:solid 1px #d1d1d1; padding:0 0 3px 0; margin:0;}
.contact_bottom .contact_address .inner_panel .email_boxes h3::before{ position:absolute; content:""; top:5px; left:-41px; background:url(../image/email-icon.png) no-repeat 0 0; width:26px; height:23px;}
.contact_bottom .contact_address .inner_panel .email_boxes p{ font-size:17px; line-height:24px; font-weight:300; color:#252525; padding:10px 0 0 0; margin:0;}
.contact_bottom .contact_address .inner_panel .email_boxes p a{ font-size:17px; line-height:24px; font-weight:300; color:#252525; padding:10px 0 0 0; margin:0;
 overflow-wrap: break-word;}
.contact_bottom .contact_address .inner_panel .email_boxes p a:hover{ text-decoration:underline;}


.contact_bottom .contact_address .inner_panel .website_boxes{ float:left; width:100%; padding:0 0 64px 0; margin:0;}
.contact_bottom .contact_address .inner_panel .website_boxes h3{ font-size:18px; line-height:22px; font-weight:600; color:#252525; position:relative; border-bottom:solid 1px #d1d1d1; padding:0 0 3px 0; margin:0;}
.contact_bottom .contact_address .inner_panel .website_boxes h3::before{ position:absolute; content:""; top:5px; left:-41px; background:url(../image/globe-icon.png) no-repeat 0 0; width:28px; height:28px;}
.contact_bottom .contact_address .inner_panel .website_boxes p{ font-size:17px; line-height:24px; font-weight:300; color:#252525; padding:10px 0 0 0; margin:0;}
.contact_bottom .contact_address .inner_panel .website_boxes p a{ font-size:17px; line-height:24px; font-weight:300; color:#252525; padding:10px 0 0 0; margin:0;  overflow-wrap: break-word;}
.contact_bottom .contact_address .inner_panel .website_boxes p a:hover{ text-decoration:underline;}


.create_account_big{ float:left; width:100%; padding:40px 0; margin:0;}
.create-account{ display:inline-block; width:100%; padding:0; margin:0; text-align:center;}
.create-account h2{ color:#e97110; padding:0 0 35px 0; margin:0;}
.create-account p{ font-size:16px; line-height:20px; font-weight:normal; color:#000; padding:20px 0 0 0;}
.create-account p a{ color:#e97110;}
.create-account .col-sm-5{ float:none; display:inline-block;}
.create-account .col-sm-8{ float:none; display:inline-block;}
.account-create .form-inline .form-group{ width:100%; margin-bottom:13px;}
.account-create{ float:left; width:100%; padding:0; margin:0;}
.account-create .form-inline .firstname{ display:inline-block; width:48%; float:left;}
.account-create .form-inline .lastname{ display:inline-block; width:47%; float:right;}
.account-create input[type="text"]{ width:100%; padding:0 0 0 5px; margin:0; border:solid 1px #127acc; border-radius:0; color:#000;}
.account-create input[type="email"]{ width:100%; padding:0 0 0 5px; margin:0; border:solid 1px #127acc; border-radius:0; color:#000;}
.account-create select{ width:100%; padding:0 0 0 5px; margin:0; border:solid 1px #127acc; border-radius:0; color:#000; -webkit-appearance: none; -moz-appearance:none;  appearance: none; height:34px; background:url(../images/drop-down-list-icon.png) no-repeat 97% 50%; cursor:pointer;}
.account-create input[type="password"]{ width:100%; padding:0 0 0 5px; margin:0; border:solid 1px #127acc; border-radius:0; color:#000;}
.account-create label{ width:100%; text-align:left; font-size:14px; line-height:20px; font-weight:normal; color:#000;}
.account-create textarea{ width:100%; height:100px; padding:0 0 0 5px; margin:0; border:solid 1px #127acc; border-radius:0; color:#000;}

.account-create .btn-default{ background:#127acc; border:none; padding:8px 35px; margin:14px 0 0 0; text-transform:uppercase; font-size:18px; color:#fff; font-weight:bold;}



/***********************About us page design start here***********************/
.about-us_col{ float:left; width:100%; padding:0 0 40px 0; margin:0;}
.about-top{ float:left; width:100%; padding:0; margin:}
.about-top h2{ font-size:24px; line-height:28px; font-weight:normal; color:#252525; border-bottom:solid 1px #d7d7d7; padding:0 0 8px 0; margin:0;}
.about-top p{ font-size:14px; line-height:24px; font-weight:normal; color:#535353; padding:10px 0; margin:0 0 30px 0; border-bottom:solid 1px #d7d7d7;}

.about_box{ float:left; width:100%; padding:0; margin:0;}
.about_box .col-sm-6{ padding:0;}
.about_smm_picture > img{ width:100%;}
.about_box .about_small{ float:left; width:100%; padding:0px 20px 0 0; margin:0;}
.about_box .about_small h2{ padding:0; margin:0 0 15px 0; position:relative; font-size:24px; line-height:28px; font-weight:normal; color:#252525;}
.about_box .about_small h2::before{ content:""; position:absolute; border-bottom:5px solid #127acc; bottom:-16px; left:0; width:50px; height:5px;}
.about_box .about_small p{  font-size:14px; line-height:24px; font-weight:normal; color:#535353; padding:15px 0; margin:0;}

.about_box .about_small_right{ float:left; width:100%; padding:25px; margin:0;}
.about_box .about_small_right h2{ padding:0; margin:0 0 15px 0; position:relative; font-size:24px; line-height:28px; font-weight:normal; color:#252525;}
.about_box .about_small_right h2::before{ content:""; position:absolute; border-bottom:5px solid #127acc; bottom:-16px; left:0; width:50px; height:5px;}
.about_box .about_small_right p{  font-size:14px; line-height:24px; font-weight:normal; color:#535353; padding:15px 0; margin:0;}

.mob-picture{ display:none;}








/*--------------------------- Mail Page Css ---------------------------*/
.mbody{
	background:#e8f0f3;
	}
.left_bar{
	width:95%;
	height:auto;
	background:#127acc /*#212830*/;
	color:#fff;
	float: left;
	}
.mright_panel{
	width:98%;
	height:auto;
	color:#555;
	float: left;
	}
.mtopbar{
	width:100%;
	height:auto;
	color:#555;
	padding: 10px;
	background:#6798b9;
	}
.mtopbar:after{
	content:"";
	width:100%;
	height:0px;
	visibility:hidden;
	clear:both;
	display:block;
	}
.profile_top{
	background:rgba(91,116,188,1.0);
	padding: 10px 10px;
}
.profile_top:after{
	content: "";
	width: 100%;
	height: 0px;
	clear: both;
	visibility: hidden;
	display: block;
}
.m_pro{
	width: 55px;
	height: 55px;
	background: #c09;
	border-radius: 360px;
	overflow: hidden;
	float: left;
}
.m_pro img{
	width: 100%;
	height: auto;
}
.mpro_name{
	float: right;
	width:180px;
	font-size: 16px;
	font-weight: bold;
	margin-top: 10px;
}
.mpro_name span{
	font-size: 12px;
	font-weight: 300;
	width: 100%;
	display: block;
	color: #91a5e1;
}
.mleft_nav{
	width: 100%;
	height: auto;
}
.mleft_nav ul{
	padding: 0;
}
.mleft_nav ul li a{
	line-height: 36px;
	display: block;
	padding-left: 20px;
	color:#fff; /*#9e9e9e;*/
	text-decoration: none;
}
.mleft_nav ul li a:hover{
	background: #0e62a4;
	color:#fff; /*#9e9e9e*/
	text-decoration: none;
}
.mlactive{
	background: #0e62a4;
	color: #fff;
	text-decoration: none;
	}
.mleft_nav ul li a i{
	margin-right: 5px;
}
.mlogout{
	width:40px;
	height:40px;
	background:#eb3940;
	float:right;
	line-height:40px;
	text-align:center;
	margin:8px 20px 7px 0px;
	border-radius:5px;
	cursor:pointer;
	}
.mlogout:hover{
	background:#d51118;
	}
.mlogout i{
	color:#fff;
	font-size:16px;
	}
.actionbar{
	padding:10px 10px 0 10px;
	background:#fff;
	width:100%;
	}
.actionbar:after{
	content:"";
	width:100%;
	height:0;
	visibility:hidden;
	clear:both;
	display:block;
	}
.actionbar ul{
	padding:0;
	float:right;
	}
.actionbar ul li{
	float:left;
	list-style-type:none;
	margin-left:10px;
	cursor:pointer;
	}
.actionbar ul li:hover{
	color:#127acc;
	}
.ad_box{
	background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding:20px;
	margin-top:20px;
	}
.ad_box:after{
	content:"";
	width:100%;
	height:0px;
	display:block;
	visibility:hidden;
	clear:both;
	}
/*.ad_box_close:hover{
	color:#F00;
	}*/
.profile_pic{
	width:100px;
	height:100px;
	border-radius:360px;
	float:left;
	overflow:hidden;
	position:relative;
	}
.pro_pic_up{
	width:45px;
	height:45px;
	background:#127acc;
	position:absolute;
	top:100px;
	left:0;
	right:0;
	margin:0 auto;
	border-radius:360px;
	overflow:hidden;
	transition:.3s;
	}
.pro_pic_up_btn{
	opacity:0;
	width:45px;
	height:45px;
	cursor:pointer;
	}
.profile_details{
	width:calc(100% - 120px);
	float:right;
	}
.pro_pic_up_icon{
	position:absolute;
	top:15px;
	left:0;
	right:0;
	text-align:center;
	color:#fff;
	}
.profile_pic:hover .pro_pic_up{
	top:25px;
	}
.username{
	font-weight:600;
	}
.username,.email,.phonenumber{
	margin-bottom:05px;
	}
.haflpanel{
	width:100%;
	height:200px;
	overflow-y:scroll;
	overflow-x:hidden;
	}
.haflpanel ul{
	padding:0;
	}
.haflpanel ul li{
	list-style-type:none;
	}
.edit_panel{
	width:70%;
	margin-top:10px;
	margin-left:120px;
	display:none;
	}
.input_dash{
	margin-top:10px;
	width:200px;
	height:30px;
	border:1px solid #ddd;
	outline:0;
	padding:0px 5px;
	display:block;
	}
.edit_btn{
	position:absolute;
	top:5px;
	right:5px;
	background:#127acc;
	color:#fff;
	padding:5px 10px;
	cursor:pointer;
	}
/*----------------------- End Dashboard Page CSS ----------------------------*/
.ch-label{
	float: right;
	margin-top: 10px;
}
.ch-input{
	width: 60%;
	height: 30px;
	outline: 0;
	padding: 0px 5px;
	transition:.3s;
	font-size: 14px;
	margin-top: 10px;
}
.ch-input:focus{
	padding: 0px 10px;
}
.ch-btn{
	border: 0;
	outline: 0;
	padding: 8px 15px;
	background: #2196f3;
	color: #fff;
	margin-top: 10px;
	transition:.3s;
}
.ch-btn:hover{
	background:#127acc;
}
/*--------------------- Login Page CSS -------------------*/
.login_heading{
	width:100%;
	background:#40E0D0;
	color:#fff;
	margin-top:0px;
	padding:15px;
	font-weight:bold;
	text-transform:uppercase;
	box-shadow:0px 5px 5px rgba(0,0,0,0.2);
	font-size:20px;
	}
.login_heading img{
	margin-right:15px;
	}
.login-bg{
	width:100%;
	height:100%;
	background:url(../image/login_bg.png) no-repeat;
	background-size:cover;
	/*position:absolute;*/
	}
.login_box{
	width:100%;
	height:auto;
	padding:25px;
	background:rgba(255,255,255,1.0);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
	margin-top:25px;
	}
.login_sec{
	width:700px;
	height:auto;
	margin:0 auto;
	}
.login_box:after{
	content:"";
	width:100%;
	height:0;
	display:block;
	visibility:hidden;
	clear:both;
	}
.login_input{
	width:100%;
	height:40px;
	padding:0px 8px;
	outline:0;
	border:1px solid #ddd;
	transition:.3s;
	}
.login_input:focus{
	border:1px solid #127acc;
}
.login_label{
	margin-top:10px;
	margin-bottom:0;
	}
.login_label:first-of-type{
	margin-top:0;
	}
.login_box .input-group-addon{
	padding:6px 15px;
	border-radius:0;
	}
.login_btn{
	width:100%;
	height:50px;
	background:#40E0D0;
	color:#fff;
	text-align:center;
	font-weight:600;
	border:0;
	outline:0;
	margin-top:15px;
	}
.remember_login{
	float:left;
	font-size:14px;
	font-weight:300;
	margin-top:10px;
	}
.forget_pass{
	float:right;
	margin-top:10px;
	}
.create_btn{
	width:100%;
	height:40px;
	line-height:40px;
	color:#127acc;
	background:#fff;
	display:block;
	margin-top:10px;
	text-align:center;
	transition:.3s;
	}
.create_btn:hover{
	background:#c0e3ff;
	text-decoration:none;
	}
/*-- Slim Scroll --*/
/*-- Slim Scroll --*/
#scrollbox1 {
    overflow: auto;
    padding: 0 5px;
}
.open div{ z-index:9999 !important;}
.track3 {
    width: 10px;
    background: rgba(0, 0, 0, 0);
    margin-right: 2px;
    border-radius: 10px;
    -webkit-transition: background 250ms linear;
    transition: background 250ms linear;
	z-index:1000;
}

.track3:hover,
.track3.dragging {
    background: #d9d9d9; 
    background: rgba(0, 0, 0, 0.15);
}

.handle3 {
    width: 7px;
    right: 0;
    background: #999;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 7px;
    -webkit-transition: width 250ms;
    transition: width 250ms;
}
.handle3:hover{
	width:10px;
	}
.track3:hover .handle3{
	width:10px;
	}
/*===================================================================================*/
/*  Product Detail
/*===================================================================================*/

.detail-block {
 background-color: #fff;
 box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
 padding: 20px;
 overflow:hidden
	
}

.single-product .product-info-block .name {margin-top:0px; font-weight:bold; letter-spacing:-1px}

.single-product .single-product-gallery {padding-bottom:30px}

.single-product .favorite-button .btn-primary {background:#ddd}

.single-product .gallery-holder #owl-single-product .single-product-gallery-item {
  border: 1px solid #e5e5e5;
}
.single-product .gallery-holder .gallery-thumbs {
  margin: 15px 0 0;
  position: relative;
  text-align: left;
}
.single-product .gallery-holder .gallery-thumbs .owl-item .item {
  margin-right: 10px;
  border: 1px solid #e5e5e5;
}

.single-product .product-info .rating-reviews .reviews .lnk {
  color: #aaaaaa;
}
.single-product .product-info .stock-container .stock-box .label {
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  line-height: 18px;
  color: #666666;
  padding: 0px;
  font-weight: normal;
}
.single-product .product-info .stock-container .stock-box .value {
  font-size: 13px;
  color: #ff7878;
}
.single-product .product-info .description-container {
  line-height: 20px;
  color: #666666;
}
.single-product .product-info .price-container {
  border-bottom: 1px solid #F2F2F2;
  border-top: 1px solid #F2F2F2;
  margin-bottom: 0;
  padding: 20px 0;
}
.single-product .product-info .price-container .price-box .price {
  font-size: 30px;
  font-weight: 700;
  line-height: 50px;
}
.single-product .product-info .price-container .price-box .price-strike {
  color: #aaa;
  font-size: 16px;
  font-weight: 300;
  line-height: 50px;
  text-decoration: line-through;
}
.single-product .product-info .quantity-container {
  margin-bottom: 0;
  padding: 20px 0;
}
.single-product .product-info .quantity-container .label {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  line-height: 35px;
  text-transform: uppercase;
  color: #666666;
  padding: 0px;
  font-weight: normal;
}
.single-product .product-info .quantity-container .cart-quantity .quant-input {
  display: inline-block;
  height: 35px;
  position: relative;
  width: 70px;
}
.single-product .product-info .quantity-container .cart-quantity .quant-input .arrows {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  height: 100%;
}
.single-product .product-info .quantity-container .cart-quantity .quant-input .arrows .arrow {
  box-sizing: border-box;
  display: block;
  text-align: center;
  width: 40px;
  cursor: pointer;
}
.single-product .product-info .quantity-container .cart-quantity .quant-input .arrows .arrow .ir .icon {
  position: relative;
}
.single-product .product-info .quantity-container .cart-quantity .quant-input .arrows .arrow .ir .icon.fa-sort-asc {
  top: 5px;
}
.single-product .product-info .quantity-container .cart-quantity .quant-input .arrows .arrow .ir .icon.fa-sort-desc {
  top: -7px;
}
.single-product .product-info .quantity-container .cart-quantity .quant-input input {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  font-size: 15px;
  height: 35px;
  left: 0;
  padding: 0 20px 0 18px;
  position: absolute;
  top: 0;
  width: 70px;
  z-index: 1;
}
.single-product .product-info .product-social-link .social-label {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  line-height: 20px;
  text-transform: uppercase;
}
.single-product .product-info .product-social-link .social-icons {
  display: inline-block;
}
.single-product .product-info .product-social-link .social-icons ul li a {
  color: #888888;
  font-size: 16px;
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
  padding: 5px 6px;
}
.single-product .product-info .product-social-link .social-icons ul li a:hover,
.single-product .product-info .product-social-link .social-icons ul li a:focus {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  color: #fff;
}
.single-product .product-tabs {
  margin-top: 30px;
   background-color: #fff;
 box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
 padding: 0px;
 overflow:hidden;
 margin-bottom:30px;
}
.single-product .product-tabs .nav.nav-tabs.nav-tab-cell > li {
  float: none !important;

}
.single-product .nav-tabs {border:none}

.single-product .product-tabs .nav.nav-tabs.nav-tab-cell > li > a {
  border: none;
  color: #555;
  display: block;
  padding: 12px 28px;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  line-height: 28px;
  text-transform: uppercase;
  position: relative;
  font-weight:bold;
  letter-spacing:1px;
  background: #f8f8f8;
  border: 1px #fff solid;
}
.single-product .product-tabs .nav.nav-tabs.nav-tab-cell > li > a:hover,
.single-product .product-tabs .nav.nav-tabs.nav-tab-cell > li > a:focus {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  color: #fff;
}
.single-product .product-tabs .nav.nav-tabs.nav-tab-cell > li > a:hover:before,
.single-product .product-tabs .nav.nav-tabs.nav-tab-cell > li > a:focus:before {
  border-color: rgba(0, 0, 0, 0) #e0e0e0 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  right: -10px;
}
.single-product .product-tabs .nav.nav-tabs.nav-tab-cell > li > a:hover:after,
.single-product .product-tabs .nav.nav-tabs.nav-tab-cell > li > a:focus:after {
  border-style: solid;
  border-width: 7.5px 1px 7.5px 10px;
  content: "";
  height: 0;
  position: absolute;
  top: 20px;
  width: 0;
  right: -8px;
}
.single-product .product-tabs .nav.nav-tabs.nav-tab-cell > li.active > a {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  color: #fff;
}
.single-product .product-tabs .nav.nav-tabs.nav-tab-cell > li.active > a:before {
  border-color: rgba(0, 0, 0, 0) #e0e0e0 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  right: -10px;
}
.single-product .product-tabs .nav.nav-tabs.nav-tab-cell > li.active > a:after {
  border-style: solid;
  border-width: 7.5px 1px 7.5px 10px;
  content: "";
  height: 0;
  position: absolute;
  top: 20px;
  width: 0;
  right: -8px;
}
.single-product .product-tabs .tab-content {
 padding-left:0px
}
.single-product .product-tabs .tab-content .tab-pane {
  padding: 24px;
}
.single-product .product-tabs .tab-content .tab-pane .text {
  line-height: 20px;
}

.single-product #owl-single-product-thumbnails .owl-controls {
  position: absolute;
  text-align: center;
  top: auto;
  width: 100%;
  margin-top: 20px;
}
.single-product #owl-single-product-thumbnails .owl-controls .owl-pagination .owl-page {
  display: inline-block;
}
.single-product #owl-single-product-thumbnails .owl-controls .owl-pagination .owl-page span {
  background: none repeat scroll 0 0 #ddd;
  border: medium none;
  border-radius: 3px;
  display: block;
  height: 10px;
  margin: 0 2px;
  -webkit-transition: all 200ms ease-out 0s;
  -moz-transition: all 200ms ease-out 0s;
  -o-transition: all 200ms ease-out 0s;
  transition: all 200ms ease-out 0s;
  width: 10px;
  cursor: pointer;
}
.single-product .sidebar .sidebar-module-container .sidebar-widget .section-title {
  margin-top: 0px;
}
.cnt-homepage .single-product .single-product-gallery .gallery-thumbs .nav-holder {
  background-color: #FFFFFF;
  height: 100%;
  position: absolute;
  top: 0;
  width: 30px;
  z-index: 50;
}
.cnt-homepage .single-product .single-product-gallery .gallery-thumbs .nav-holder.left {
  left: 0px;
}
.cnt-homepage .single-product .single-product-gallery .gallery-thumbs .nav-holder.right {
  right: 0;
}
.cnt-homepage .single-product .single-product-gallery .gallery-thumbs .nav-holder .prev-btn {
  left: 0;
}
.cnt-homepage .single-product .single-product-gallery .gallery-thumbs .nav-holder .prev-btn:after {
  content: "\f104";
}
.cnt-homepage .single-product .single-product-gallery .gallery-thumbs .nav-holder .next-btn {
  right: 0px;
}
.cnt-homepage .single-product .single-product-gallery .gallery-thumbs .nav-holder .next-btn:after {
  content: "\f105";
}
.cnt-homepage .single-product .single-product-gallery .gallery-thumbs .nav-holder .prev-btn,
.cnt-homepage .single-product .single-product-gallery .gallery-thumbs .nav-holder .next-btn {
  background-color: #fff;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  display: inline-block;
  height: 100%;
  position: absolute;
  vertical-align: top;
  width: 90%;
  z-index: 100;
  border: 1px solid #e5e5e5;
  color: #dadada;
}
.cnt-homepage .single-product .single-product-gallery .gallery-thumbs .nav-holder .prev-btn:after,
.cnt-homepage .single-product .single-product-gallery .gallery-thumbs .nav-holder .next-btn:after {
  bottom: 0;
  font-family: fontawesome;
  font-size: 30px;
  height: 30px;
  left: 0;
  line-height: 30px;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}
.cnt-homepage .single-product .single-product-gallery .gallery-thumbs .nav-holder .prev-btn:hover,
.cnt-homepage .single-product .single-product-gallery .gallery-thumbs .nav-holder .next-btn:hover,
.cnt-homepage .single-product .single-product-gallery .gallery-thumbs .nav-holder .prev-btn:focus,
.cnt-homepage .single-product .single-product-gallery .gallery-thumbs .nav-holder .next-btn:focus {
  background: #dadada;
  color: #fff;
}
.cnt-homepage .single-product .single-product-gallery .owl-item .single-product-gallery-item > a > img {
  display: block;
  width: 100%;
}
.cnt-homepage .single-product .single-product-gallery .owl-item .single-product-gallery-thumbs.gallery-thumbs .owl-item {
  margin-left: 10px;
}
.cnt-homepage .single-product .product-info-block label,
.cnt-homepage .single-product .product-info-block .label {
  font-size: 13px;
  font-weight: normal;
  line-height: 30px;
  color: #434343 !important;
}
.cnt-homepage .single-product .product-info-block .label {
  padding: 0px;
}
.cnt-homepage .single-product .product-info-block .cart {
  width: auto;
  left: 0;
  margin-top: -8px;
  padding: 0px;
}
.cnt-homepage .single-product .product-info-block .cart .action .left {
  padding: 2px 8px;
  margin-left: 5px;
}
.cnt-homepage .single-product .product-info-block .form-control .selectpicker {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #f1f1f1;
  background: #fff;
  color: #b0b0b0;
}
.cnt-homepage .single-product .product-info-block .form-control .dropdown-menu {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border: 1px solid #f1f1f1;
}
.cnt-homepage .single-product .product-info-block .form-control .dropdown-menu ul li a:hover,
.cnt-homepage .single-product .product-info-block .form-control .dropdown-menu ul li a:focus {
  background: rgba(0, 0, 0, 0);
}
.cnt-homepage .single-product .product-info-block .txt.txt-qty {
  font-size: 15px;
  line-height: 18px;
  border: 1px solid #f1f1f1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  height: 30px;
  padding: 5px 10px;
  text-align: center;
  width: 60px;
}
.cnt-homepage .single-product .product-info-block .stock-container .stock-box .label {
  color: #434343;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 20px;
  padding: 0;
  text-transform: none;
}
.cnt-homepage .single-product .product-info-block .stock-container .stock-box .value {
  font-size: 13px;
}
.cnt-homepage .single-product .product-tabs .nav-tab-cell-detail li {
  margin-right: 10px;
  padding: 0;
}
.cnt-homepage .single-product .product-tabs .nav-tab-cell-detail li a {
  border: 2px solid #e1e1e1;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  color: #666666;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 4px;
  padding-top: 4px;
  text-transform: uppercase;
}
.cnt-homepage .single-product .product-tabs .nav-tab-cell-detail li a:hover,
.cnt-homepage .single-product .product-tabs .nav-tab-cell-detail li a:focus {
  color: #fff;
}
.cnt-homepage .single-product .product-tabs .nav-tab-cell-detail li.active a {
  color: #fff;
}
.cnt-homepage .single-product .product-tabs .tab-content {
  border: none;
}
.cnt-homepage .single-product .product-tabs .tab-content .tab-pane {
  padding: 0px;
}
.cnt-homepage .single-product .product-tabs .tab-content .tab-pane .product-tab .text {
  font-size: 13px;
  line-height: 22px;
}
.single-product .second-gallery-thumb.gallery-thumbs {
  padding: 0 40px;
}
.single-product .second-gallery-thumb.gallery-thumbs #owl-single-product2-thumbnails .owl-wrapper-outer {
  margin-left: 5px;
}
.product-tabs .tab-content .tab-pane .product-reviews .title {
  color: #666666;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  margin: 0 0 10px;
  font-family: 'Open Sans', sans-serif;

}
.product-tabs .tab-content .tab-pane .product-reviews .reviews .review {
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif, sans-serif;
  text-transform: none;
  background:#f8f8f8;
  padding:20px
}
.product-tabs .tab-content .tab-pane .product-reviews .reviews .review .review-title {
  margin-bottom: 5px;
}
.product-tabs .tab-content .tab-pane .product-reviews .reviews .review .review-title .summary {
  color: #666666;
  font-size: 14px;
  font-weight: normal;
  margin-right: 10px;
  font-style:italic

}
.product-tabs .tab-content .tab-pane .product-reviews .reviews .review .review-title .date {
  font-size: 12px;
}
.product-tabs .tab-content .tab-pane .product-reviews .reviews .review .review-title .date span {
  margin-left: 5px;
}
.product-tabs .tab-content .tab-pane .product-reviews .reviews .review .text {
  line-height: 18px;
}
.product-tabs .tab-content .tab-pane .product-reviews .reviews .review .author span {
  margin-left: 5px;
}
.product-tabs .tab-content .tab-pane .product-add-review .title {
  color: #666666;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin: 0 0 10px;
  font-family: 'Open Sans', sans-serif;
}
.product-tabs .tab-content .tab-pane .product-add-review .review-table .table thead th {
    font-weight: normal;
    border-bottom-width: 1px;
    text-align: center;
    vertical-align: middle;
    background: #f8f8f8;
	border:none
}
.product-tabs .tab-content .tab-pane .product-add-review .review-table .table tbody tr td {
  text-align: center;
  vertical-align: middle;
}
.product-tabs .tab-content .tab-pane .product-add-review .review-table .table tbody tr td input {
  float: none;
  margin: auto;
}
.product-tabs .tab-content .tab-pane .product-add-review .review-form label {
  font-weight: normal;
  font-size: 13px;
}
.product-tabs .tab-content .tab-pane .product-add-review .review-form label .astk {
  color: #FF0000;
  font-size: 12px;
}
.product-tabs .tab-content .tab-pane .product-add-review .review-form .txt {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.product-tabs .tab-content .tab-pane .product-tag .title {
  color: #666666;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  margin: 0 0 20px;
  font-family: 'Open Sans', sans-serif;
}
.product-tabs .tab-content .tab-pane .product-tag .form-group label {
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  margin-right: 10px;
}
.product-tabs .tab-content .tab-pane .product-tag .form-group .txt {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.product-tabs .tab-content .tab-pane .product-tag .form-group .text {
  margin-left: 90px;
}
.furniture-container .product {
  position: relative;
}
.furniture-container .product .btn-primary {
  font-size: 15px;
  line-height: 30px;
  font-family: 'Open Sans', sans-serif;
  background: #cbc9c9;
  text-transform: uppercase;
  border: none;
  color: #fff;
}
.furniture-container .product .btn-primary:hover,
.furniture-container .product .btn-primary:focus {
  border: none;
}
.furniture-container .best-seller .product .product-info .name,
.furniture-container .special-offer .product .product-info .name {
  margin-top: 4px;
}
.furniture-container .cart {
  margin-top: 5px;
  opacity: 1;
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -ms-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
  width: 100%;
  z-index: 666;
  left: 0px;
}
.furniture-container .cart .action {
  float: left;
}
.furniture-container .cart .action .add-cart-button .btn.btn-primary.icon {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  background: #575757 ;
}
.furniture-container .cart .action.lnk {
  margin: 10px 0px;
}
.furniture-container .cart .action.lnk a {
  padding: 0 10px;
  color: #dadada;
}
.furniture-container .cart .action.lnk.wishlist {
  border-right: 1px solid #dadada;
}
.homepage-container .product {
  position: relative;
}
.homepage-container .product .product-image .tag {
  font-size: 15px;
  font-weight: 700;
  width: 50px;
  height: 50px;
  text-transform: uppercase;
  top: 2.5%;
  z-index: 100;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  color: #fff;
  right: 25px;
  /*11px;*/
  text-align: center;
  position: absolute;
}
.homepage-container .product .product-image .tag span {
  position: relative;
  z-index: 100;
  line-height: 48px;
}
.homepage-container .product .product-image .tag.new {
  background: #46aad7;
}
.homepage-container .product .product-image .tag.hot {
  background: #ff7878;
}
.homepage-container .product .product-info .name {
  font-size: 18px !important;
  font-family: 'Open Sans', sans-serif;
}
.homepage-container .product .product-info .name a {
  color: #555;
}
.homepage-container .product .product-info .star-rating .color {
  color: #ffb400;
}
.homepage-container .product .product-info .product-price .price {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  margin-right: 8px;
}
.homepage-container .product .product-info .product-price .price-before-discount {
  text-decoration: line-through;
  color: #d3d3d3;
  font-weight: 400;
  line-height: 30px;
  font-size: 14px;
}
.homepage-container .product .cart {
  margin-top: 5px;
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
  width: 100%;
  z-index: 666;
  left: 0px;
  opacity: 1;
}
.homepage-container .product .cart .action {
  float: left;
}
.homepage-container .product .cart .action .add-cart-button .btn.btn-primary.icon {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  background: #575757 ;
}
.homepage-container .product .cart .action.lnk {
  margin: 10px 0px;
}
.homepage-container .product .cart .action.lnk a {
  padding: 0 10px;
  color: #dadada;
}
.homepage-container .product .cart .action.lnk.wishlist {
  border-right: 1px solid #dadada;
}
.homepage-container .featured-product .products .product:first-child {
  margin-bottom: 30px;
}
.homepage-container .blog-slider-container .blog-slider .blog-post-info .name {
  font-size: 18px;
}
.homepage-container .btn-primary {
  font-size: 15px;
  line-height: 30px;
  font-family: 'Open Sans', sans-serif;
  background: rgba(0, 0, 0, 0);
  text-transform: uppercase;
  border: 2px solid #f2f2f2;
  color: #747474;
}
.homepage-container .btn-primary:hover,
.homepage-container .btn-primary:focus {
  color: #fff;
}
.homepage-container .best-seller .product .product-info .name,
.homepage-container .special-offer .product .product-info .name {
  margin-top: 4px;
}
.homepage-container .cart {
  margin-top: 5px;
  opacity: 1;
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
  width: 100%;
  z-index: 666;
  left: 0px;
}
.homepage-container .cart .action .add-cart-button .btn.btn-primary.icon {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  background: #575757 ;
}
.wrapper .box {
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
}
.wrapper .box .wrapper-inner {
  background: none repeat scroll 0 0 #FFFFFF;
  -moz-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
.wrapper .box .wrapper-inner .wrapper-body-inner .owl-item .tag {
  font-size: 15px;
  font-weight: 700;
  line-height: 55px;
  width: 55px;
  height: 55px;
  text-transform: uppercase;
  top: 2.5%;
  z-index: 100;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  color: #fff;
  right: 25px;
  /*11px;*/
  text-align: center;
}
.wrapper .box .wrapper-inner .wrapper-body-inner .owl-item .tag span {
  position: relative;
  z-index: 100;
}
.wrapper .box .wrapper-inner .wrapper-body-inner .owl-item .tag.new {
  background: #46aad7;
}
.wrapper .box .wrapper-inner .wrapper-body-inner .owl-item .tag.sale {
  background: #989898;
}
.wrapper .box .wrapper-inner .wrapper-body-inner .owl-item .tag.hot {
  background: #ff7878;}