@charset "utf-8";
/* CSS Document */
@media(max-width:991px){
	.serach_box{
		width:60%;
	}
	.box{
		padding:10px;
		}
}
@media(max-width:767px){
	.box{
		padding:20px;
		}
	.logo{
		text-align:center;
		}
	.top_menu{
		float:none;
		text-align:center;
		}
	.top_menu ul li{
		float:none;
		text-align:center;
		display:inline;
		}
	.chlo_searchbox{
		width:100%;
		}
	.cu_select{
		float:left;
		}
}
@media(max-width:460px){
	.serach_box{
		width:100%;
		float:none;
		}
	.cu_select{
		width:100%;
		float:none;
		margin-top:15px;
		background:#fff url("../image/select.png") no-repeat scroll 95% 50%;
		}
	.serach_btn{
		width:100px;
		}
	.serach_input{
		width:calc(100% - 120px);
		float:left;
		}
}