@charset "utf-8";
/* CSS Document */
body{
	font-family: 'Roboto', sans-serif;
	}
.hearder_top{
	width:100%;
	height:auto;
	border-bottom:1px solid #ddd;
	padding-bottom:10px;
	box-shadow:0px 0px 5px rgba(0,0,0,0.2);
	border-top:3px solid #673148;
	}
.logo a{
	color:#383839;
	text-decoration:none;
	}
.logo a:hover{
	color:#383839;
	text-decoration:none;
	}
.top_menu{
	float:right;
	margin-top:15px;
	}
.top_menu ul{
	padding-left:0px;
	}
.top_menu ul li{
	float:left;
	list-style-type:none;
	margin-left:10px;
	}
.top_menu ul li a{
	color:#673148;
	font-size:13px;
	}
.chlo_searchbox{
	width:80%;
	height:auto;
	float:right;
	margin-top:10px;
	}
.cu_select{
	width:140px;
	height:30px;
	border:1px solid #ddd;
	outline:0px;
	-webkit-appearance:none;
	-moz-appearance:none;
	-o-appearance:none;
	-ms-appearance:none;
	appearance:none;
	background:#fff url(../image/select.png) no-repeat 90% 50%;
	float:right;
	transition:.3s;
	padding:0 5px;
	cursor:pointer;
	}
.cu_select:focus{
	border:1px solid #5e293f;
	box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(94,41,63, 0.6);
	}
.serach_box{
	width:50%;
	height:30px;
	float:right;
	}
.serach_input{
	width:60%; /*200px*/
	height:30px;
	float:right;
	outline:0px;
	border:1px solid #ddd;
	padding:0px 5px;
	transition:.3s;
	}
.serach_input:focus{
	border:1px solid #5e293f;
	box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(94,41,63, 0.6);
	}
.serach_btn{
	width:auto;
	padding:0px 15px;
	height:30px;
	background:#673148;
	color:#fff;
	font-weight:600px;
	outline:0px;
	border:1px solid #5e293f;
	float:right;
	margin-left:10px;
	transition:.3s;
	}
.serach_btn:hover{
	background:#5e293f;
	}
/*--------------------------- Navbar CSS -------------------------*/
.cu_navbar{
	width:100%;
	height:auto;
	background:#673148;
	}
.cu_navbar .navbar{
	margin-bottom:0px;
	background:none;
	border:none;
	}
.cu_navbar .navbar-default .navbar-nav > li > a{
	color:#fff;
	}
.cu_navbar .navbar-nav > li:hover{
	background:#5e293f;
	}
/*--------------- content_bg ------------------*/
.content_bg{
	background:#f3f3f3;
	padding-bottom:20px;
	}
.box{
	background:#fff;
	box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.08);
	padding:20px;
	margin-top:20px;
	}
.box_title{
	 border-bottom: 1px solid #e3e3e3;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
    padding-bottom: 10px;
    text-transform: uppercase;
	margin:0;
	margin-bottom:10px;
	}
.list{
	padding-left:0px;
	}
.list li{
	list-style-type:none;
	line-height:24px;
	}
.list li a{
	color:#555;
	text-decoration:none;
	padding-left:15px;
	background:url(../image/list.png) no-repeat 0px 4px;
	transition:.3s;
	}
.list li a:hover{
	background:url(../image/list.png) no-repeat 3px 4px;
	text-decoration:underline;
	}
.cu_btn{
	width:100%;
	margin-top:10px;
	 background: #673148;
    border: 1px solid #5e293f;
	color:#fff;
	}
.cu_input{
	margin-top:15px;
	}
.social{
	margin-top:10px;
	}
.social a{
	color:#555;
	text-decoration:none;
	}
.social i{
	font-size:30px;
	margin-right:15px;
	}
.fa-facebook-square:hover{
	color:#3b5998;
	}
.fa-twitter-square:hover{
	color:#00aced;
	}
.fa-instagram:hover{
	color:#bf2fa0;
	}
.advertisement{
	margin-top:0px;
	margin-bottom:15px;
	}
.tab .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
	background:#673148;
	border:1px solid #5e293f;
	color:#fff;
	font-weight:600;
	}
.tab .tab-content{
	margin-top:15px;
	}
.tab .nav-tabs > li > a{
	background:#ddd;
	}
.cu_btn:hover{
	background:#5e293f;
	color:#fff;
	border:1px solid #5e293f;
	}
.heading1{
	margin:0px;
	font-size:16px;
	font-weight:bold;
	margin-bottom:5px;
	}
.heading1 a{
	color:#333;
	text-decoration:none;
	transition:.3s;
	}
.heading1 a:hover{
	color:#127acc;
	}
.divider{
	width:100%;
	height:1px;
	background:#ddd;
	margin:8px auto;
	}
/*---------------------- Footer ------------------*/
.footer{
	width:100%;
	height:auto;
	background: #202020;
    padding-top: 30px;
    padding-bottom: 30px;
	color:#ddd;
	}
.footer_title{
	color:#555;
	font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
	}
.f_menu{
	padding-left:0px;
	}
.f_menu li{
	list-style-type:none;
	line-height:24px;
	}	
.f_menu li a{
	color:#ddd;
	text-decoration:none;
	transition:.3s;
	font-size:13px;
	background:url(../image/list.png) no-repeat 0px 4px;
	transition:.3s;
	padding-left:15px;
	}
.f_menu li a:hover{
	color:#ce5f8e;
	text-decoration:underline;
	}
.f_menu li a:hover{
	background:url(../image/list.png) no-repeat 3px 4px;
	}
.footer_bottom{
	width:100%;
	height:50px;
	background:#000;
	color:#ddd;
	}
.footer_bottom p{
	margin-bottom:0px;
	}
.cl{
	float:left;
	line-height:50px;
	}
.goigi{
	float:right;
	line-height:50px;
	}
.goigi a{
	color:#d96b9a;
	text-transform:uppercase;
	}

.cu_accordion .panel-heading{
	padding:0px;
	}
.cu_accordion a{ background:#673148; display:block; padding:10px 15px; color:#fff;}
.cu_accordion a.collapsed{ background:none; color:#333;}
.cu_accordion .panel-body a{
	padding:0px;
	}